code, pre {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 2px;
  border: solid 1px rgba(100, 100, 100, 0.1);
  height: 20px;
  padding: 2px;
  font-family: "Fantasque Sans Mono", "Consolas", "Monaco", monospace;
}

getting-started {
  line-height: 1.5;
}

button i.material-icons {
  line-height: 2.5;
}
