@import 'vars';
@import 'typography';
@import '../../node_modules/angular-material/angular-material';
@import '../../node_modules/angular-material-icons/angular-material-icons';
@import './vendor/angular-chart';


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.layout-row > .flex-48, .layout-row > .flex-48 {
    flex: 0 0 48%;
    max-width: 48%;
    max-height: 100%;
    box-sizing: border-box;
}

.main {
  height: 100%;
}
.view-container {
  background-color: darken($blue, 20%);
}
.content-container > md-content {
  background-color: transparent;
}

.header {
  min-height: 64px;
}
.header md-toolbar {
  background-color: $blue;
}

.sidebar-container {
  margin-right: 5px;
  overflow: auto;
}
.sidebar-container md-sidenav {
  min-width: 100%;
  max-width: 100%;
  color: white;
  background-color: $light-blue;
}
.sidebar md-item-content:hover {
  background-color: lighten($light-blue, 10%);
}
.sidebar ng-md-icon {
  fill: white;
}
.sidebar a {
  text-decoration: none;
  color: inherit;
}

device-grid > div {
  flex-wrap: wrap;
}

.devices-container {
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 15px;
  margin-left: 8px;
}

.devices-container:last-child {
  margin-right: 0px;
}

.devices-container .device-toolbar {
  background-color: $blue;
}

.devices-container md-tabs {
  min-height: 400px !important;
}

.devices-container md-grid-tile {
  background-color: $background-light;
}

.md-color-green {
  background-color: $green !important;
  color: $font-color-light;
}
