<!doctype html>
<html lang="en" ng-app="exohackApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ baseName }}</title>
    <!-- Favicon -->
	  <link rel="icon" href="static/app/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="static/app/images/exosite_logo.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="static/app/images/exosite_logo.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="static/app/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">


    <link href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/app/styles/main.css?cache={{cacheBuster}}" rel="stylesheet">
  </head>
  <body>
    <div class="main" layout="column">
      <!-- start:header -->
      <div class="header" layout="row" flex ng-controller="HeaderCtrl">
        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="static/app/images/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
              <span>ExoHack Example</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
              <md-icon md-svg-icon="static/app/images/icons/more_vert.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </div>
      <!-- end:header -->
      <div layout="row" layout-fill flex>
        <!-- start:sidebar -->
        {% raw %}
        <div class="sidebar-container md-sidenav-left md-whiteframe-z2" flex="20" layout-fill ng-controller="NavCtrl">
          <md-sidenav layout="column" layout-fill
                      md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-primary">
              <h1 class="md-toolbar-tools">Nav</h1>
            </md-toolbar>
            <md-list class="sidebar" ng-repeat="page in pages">
              <md-item>
                <a href="{{page.route}}" md-ink-ripple>
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="{{page.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{page.name}}</div>
                  </md-item-content>
                </a>
              </md-item>
            </md-list>
          </md-sidenav>
        </div>
        {% endraw %}
        <!-- end:sidebar -->
        <!-- start:content -->
        <div layout="column" flex="80" ng-view></div>
        <!-- end:content -->
      </div>
    </div>

    <script type="text/javascript">
      window.APP_CONFIG = {
        cik: '{{ APP_CIK }}',
        baseUrl: '{{ API_URL }}',
        cacheBuster: '{{ cacheBuster }}'
      };
    </script>
    <script src="static/app/bower_components/requirejs/require.js" data-main="static/app/scripts/main.js?cache={{cacheBuster}}"></script>

  </body>
</html>
