<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
    <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/styles/truckster-style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title> {{ title }} - Truckster </title>
      {% else %}<title>Truckster</title>
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body style="margin-top: 60px;">
    <!-- Universal header -->
    <div class="container-fluid">
      <img src="#" alt="Logo"> TRUCKSTER: Follow that truck!
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Responsive collapsible nav -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/devices">UTC</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            {# {% if g.user.is_authenticated() %} #}
            <!-- <li><a href="/index">Home</a></li> -->
            <li><a href="{{ url_for('.truckster') }}">Home</a></li>
            <li><a href="{{ url_for('.trucks') }}">Food Trucks</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right"
            <li class=><a href="{{ url_for('.signin') }}">Log In</a></li>
            <li><a href="{{ url_for('.signin') }}">Sign Up</a></li>
            <li><a href="{{ url_for('.profile') }}">Profile</a></li>
            {# {% endif %} #}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash messages
    <div class="page-header flash-messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info" role="alert">
          <ul class="flash-messages">
          {% for message in messages %}
            <li> {{ message }} </li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}
    </div> -->

    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Activate JQuery & Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="/scripts/truckster-scripts.js"></script>
