{% extends "base.html" %}
{% block content %}
<!-- <head meta name="viewport" content="width=device-width, initial-scale=1">-->
<link href="/truckster/truckster/styles/leaflet.css" rel="stylesheet">

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="row" id="subscribe">
    </div>
  <div class="row">
    <div class="col-md-8" id="map"></div>
    <div class="col-md-4 rsidebar sidebar">
      <div class="sidebar-box featured-truck">
        <h4>Featured Truck</h4>
        <img src="/truckster/truckster/assets/WorldStreetKitchentruck_150h.png">
        <p>World Street Kitchen! It has tasty foods.</p>
      </div>
      <div class="sidebar-box about">
        Love food trucks? Now you can stalk them -- without all the work.
        Truckster will notify you when your favorite food trucks are open
        near the places where you work and play. <a href="#">Sign up today!</a>
      </div>
      <div class="sidebar-box search-box">
        <p class="truck-search-zip"><input type="text" placeholder="Search by zip code"><button name="by-zip" type="submit" class="btn btn-success btn-sm">Go</button></input></p>
        <p class="truck-search-name"><input type="text" placeholder="Search by truck name"><button name="by-name" type="submit" class="btn btn-success btn-sm">Go</button></input></p>
        <p class="browse-by-truck">
            <a href="#"><button class="btn btn-primary btn-sm">Browse by truck</button></a>
        </p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/truckster/truckster/scripts/leaflet.js"></script>
<script src="/truckster/truckster/scripts/firebase.js"></script>
<script type="text/javascript" src="/truckster/truckster/scripts/populate-truckmap.js"></script>
</body>
</html>

{% endblock %}
