<section flex class="md-whiteframe-z1">
  <md-toolbar class="device-toolbar md-primary" layout="row">
    <h2 class="md-toolbar-tools">
      <span>Create Device</span>
    </h2>
    <md-button class="md-icon-button" aria-label="Valid" ng-if="isValid()">
      <i class="material-icons" style="color: #1fe27b">done</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Invalid" ng-if="isValid() == false">
      <i class="material-icons" style="color: #e21f3f;">info</i>
    </md-button>
  </md-toolbar>
  <md-content>
    <md-content md-theme="dark" layout-padding layout="row" layout-sm="column">
      <md-input-container flex>
        <label>Name</label>
        <input required ng-model="name" />
      </md-input-container>
      <md-input-container flex>
        <label>Alias</label>
        <input ng-model="alias" />
      </md-input-container>
    </md-content>
    <br />
    <md-subheader class="md-primary">Data Ports</md-subheader>
    <md-content layout-padding layout="column" layout-sm="column" ng-repeat="dataport in dataports">
      <div layout="row" layout-sm="column">
        <md-input-container flex>
          <label>Name</label>
          <input required ng-model="dataport.name" />
        </md-input-container>
        <md-input-container flex>
          <label>Alias</label>
          <input ng-model="dataport.alias" />
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column">
        <md-input-container flex>
          <label>Format</label>
          <md-select ng-model="dataport.format">
            <md-option ng-repeat="format in formats" value="{{format}}">
              {{format}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Unit</label>
          <input ng-model="dataport.unit" />
        </md-input-container>
        <md-input-container flex>
          <label>Initial Value</label>
          <input ng-model="dataport.initialValue" />
        </md-input-container>
      </div>
    </md-content>
    <section layout="row" layout-sm="column" layout-align="end end" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="addDataPort()">Add Data Port</md-button>
      <md-button class="md-raised md-accent" ng-click="reset()">Reset</md-button>
      <!--
      <md-button class="md-raised md-warn" ng-disabled="isValid() == false">Create Device</md-button>
      -->
      <md-button class="md-raised md-warn" ng-disabled="true">Create Device</md-button>
    </section>
  </md-content>
</section>
