<div flex layout-fill layout="row">
  <section flex="48" class="devices-container md-whiteframe-z1" ng-repeat="device in devices">
    <md-toolbar class="device-toolbar md-primary" layout="row">
      <h2 class="md-toolbar-tools">
        <span>{{device.description.name}}</span>
      </h2>
    </md-toolbar>
    <md-tabs md-border-bottom class="md-primary">
      <md-tab label="basic">
        <md-content class="md-padding">
          <md-list>
            <md-list-item>
              <div class="md-list-item-text">
                <p>Last Modified: {{moment.unix(device.basic.modified).fromNow()}}</p>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="md-list-item-text">
                <p>Location: {{device.description.meta.location || 'Unspecified'}}</p>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="md-list-item-text">
                <p>Device Type: {{device.description.meta.device.type}}</p>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="md-list-item-text">
                <p>Locked?: {{device.description.locked}}</p>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="md-list-item-text">
                <p>Public?: {{device.description.public}}</p>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="md-list-item-text">
                <p>RID: {{device.client_id}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="dataports">
        <md-content class="md-padding">
          <md-grid-list md-cols="1" md-row-height="1:1" md-gutter="2px" ng-repeat="dataport in device.dataport">
            <md-grid-tile>
              <md-grid-tile-header>
                <h3>{{dataport.description.name}}</h3>
              </md-grid-tile-header>
              <div layout="column" class="md-body-1">
                <p>Description: {{dataport.description.meta.datasource.description || 'None'}}</p>
                <p>Data Type: {{dataport.description.format}}</p>
                <p>Unit: {{dataport.description.meta.datasource.unit || 'Unspecified'}}</p>
                <p>Current Value: {{dataport.currentValue.value}}</p>
                <p>Last Modified: {{moment.unix(dataport.basic.modified).fromNow()}}</p>
                <p>RID: {{dataport.rid}}</p>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </md-content>
      </md-tab>
      <md-tab label="datarules">
        <md-content class="md-padding">
          <md-grid-list md-cols="1" md-row-height="1:1" md-gutter="2px" ng-repeat="datarule in device.datarule">
            <md-grid-tile>
              <md-grid-tile-header>
                <h3>{{datarule.description.name}}</h3>
              </md-grid-tile-header>
              <div layout="column" class="md-body-1">
                <p>Version: {{datarule.description.meta.version || 'Unspecified'}}</p>
                <p>Git Hash: {{datarule.description.meta.githash || 'Unspecified'}}</p>
                <p>Last Modified: {{moment.unix(datarule.basic.modified).fromNow()}}</p>
                <p>RID: {{datarule.rid}}</p>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </md-content>
      </md-tab>
    </md-tabs>
    <md-toolbar ng-class="[device-status, {'md-color-green': device.basic.status == 'activated', 'md-warn': device.basic.status != 'activated'}]">
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Status: {{device.basic.status}}</span>
      </h2>
    </md-toolbar>
  </section>
</div>
